<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uvp.agarden" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="es.uvp.agarden.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="es.uvp.agarden.ConfigurationActivity"
            android:label="@string/titulo_config"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uvp.agarden.MainActivity"
                />
        </activity>

        <activity
            android:name="es.uvp.agarden.SesionActivity"
            android:label="@string/tituloSesion"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uvp.agarden.MainActivity"
                />
        </activity>

        <activity
            android:name="es.uvp.agarden.AboutActivity"
            android:label="@string/tituloAbout"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uvp.agarden.MainActivity"
                />
        </activity>
    </application>

</manifest>
